[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-GACA/client-gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-GACA/auth-ms.git
[submodule "lenguajes-microservicios"]
	path = lenguajes-microservicios
	url = https://github.com/Nest-Microservices-GACA/lenguajes-microservicios.git
[submodule "RVIAMI"]
	path = RVIAMI
	url = https://github.com/Nest-Microservices-GACA/RVIAMI.git
[submodule "Usuarios-microservicio"]
	path = Usuarios-microservicio
	url = https://github.com/Nest-Microservices-GACA/Usuarios-microservicio.git
[submodule "RVIAAC"]
	path = RVIAAC
	url = https://github.com/Nest-Microservices-GACA/RVIAAC.git
[submodule "RVIASA"]
	path = RVIASA
	url = https://github.com/Nest-Microservices-GACA/RVIASA.git
[submodule "aplicaciones-ms"]
	path = aplicaciones-ms
	url = https://github.com/Nest-Microservices-GACA/aplicaciones-ms.git
[submodule "RVIACO"]
	path = RVIACO
	url = https://github.com/Nest-Microservices-GACA/RVIACO.git
[submodule "RVIACP"]
	path = RVIACP
	url = https://github.com/Nest-Microservices-GACA/RVIACP.git
[submodule "RVIAPRODOC"]
	path = RVIAPRODOC
	url = https://github.com/Nest-Microservices-GACA/RVIAPRODOC.git
[submodule "RVIACAL"]
	path = RVIACAL
	url = https://github.com/Nest-Microservices-GACA/RVIACAL.git
[submodule "RVIADOC"]
	path = RVIADOC
	url = https://github.com/Nest-Microservices-GACA/RVIADOC.git
